{{< layout}}
  {{$content}}
        <div class="row">
          <div class="title-wrappers">
            <h1 class="remove-top-margin">Andy Wilkinson</h1>
          </div>
        </div>
        <div class="row">
          <p>I'm a frontend web app developer </p>
          <p>I've been lucky enough to work with some great people on some great projects.</p>
          <h2>Experience</h2>
          <div class="large-12">
            <div class="large-3 columns languages">
              <h3>Technologies</h3>
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript (ES6)</li>
                <li>MySQL</li>
                <li>Redis</li>
                <li>AWS</li>
              </ul>
            </div>
            <div class="large-3 columns frameworks">
              <h3>Frameworks</h3>
              <ul>
                <li>ExpressJS</li>
                <li>ReactJS</li>
                <li>SASS</li>
                <li>Mocha/ Chai (unit)</li>
                <li>Chimp (integration)</li>
                <li>Sinon/ Supertest (mocking)</li>
                <li>PassportJS</li>
                <li>Bookshelf/ Knex ORMs</li>
              </ul>
            </div>
            <div class="large-3 columns end other">
              <h3>Other</h3>
              <ul>
                <li>Agile</li>
                <li>GIT</li>
                <li>Progressive enhancement</li>
                <li>Accessibility</li>
                <li>Interviewing/ recruitment</li>
                <li>Video shooting</li>
                <li>Premiere Pro</li>
                <li>Photoshop</li>
                <li>InDesign</li>
              </ul>
            </div>
          </div>
          </p>
        </div>
    {{/content}}
  {{/layout}}
