{{< layout}}
  {{$content}}
        <div class="row">
          <div class="title-wrappers">
            <h1 class="remove-top-margin">Andy Wilkinson</h1>
          </div>
        </div>
        <div class="row">
          <p>These are a few of the personal and professional projects I've worked on.</p>
          <h2>Projects</h2>

            <div class="large-5 columns end">
              <a href="https://www.mentormatch.org.uk"><h3>Mentor Match</h3>
              <img src="/images/mm.png"></a>
              <p>A mentor matching platform for civil servants. This started as a side project but quickly grew to almost 4000 users. It has dominated much of my free time for the past year.</p>
              <p>As the sole developer, running a live service alongside my day job has been interesting. We've recently undergone a penetration test and<br>
                are about to become the recommended mentoring platform for the UK civil service.</p>
            </div>
            <div class="large-5 columns end">
              <a href="https://www.gov.uk/apply-renew-passport"><h3>HMPO passport renewal</h3>
              <img src="/images/hmpo.png"></a>
              <p>HMPO has released a web app which allows users to renew their UK passports online.</p>
              <p>I've been working on adding features to the site, including the overseas advice pages and filter. This is an ExpressJS app using the HMPO forms framework.<br>
              I've thoroughly enjoyed working in a multi-dispiplinary agile team, collaborating closely with user researchers, content designers and business analysts.</p>
            </div>
            <div class="large-5 columns end">
              <a href="https://github.com/wilko55/mondomon"><h3>Mondo Monitor</h3>
              <img src="/images/mondomon.png"></a>
              <p>A small app that monitors my Monzo account using their API and gave me a heads up (via IFTTT) when I'd overspent for that day.</p>
            </div>
            <div class="large-5 columns end">
              <a href="https://github.com/wilko55/tidy-css"><h3>Tidy css</h3>
              <img src="/images/tidycss.png"></a>
              <p>A lightweight, stripped down CSS framework written in SASS. Just to see how it worked.</p>
              <p>It's been a useful excercise to help bootstrap some of my other projects</p>
            </div>
            <div class="large-5 columns end">
              <a href="http://www.aliceandandy.co.uk"><h3>Wedding website</h3>
                <img src="/images/wedding.png"></a>
              <p>A website I created for my wedding to let guests easily RSVP.</p>
            </div>
            <div class="large-5 columns end">
              <a href="/images/santa.png" target="_blank"><h3>Secret santa</h3>
                <img src="/images/santa.png"></a>
              <p>A site I put together to get information about our friends for a secret santa we ran last christmas.</p>
            </div>
            <div class="large-5 columns end">
              <a href="http://www.jonesandwilkinson.co.uk"><h3>Jones & Wilkinson LTD</h3>
                <img src="/images/jw.png"></a>
              <p>A site created for my dad's diecasing and metalworking company.</p>
              <p>I first developed in PHP but this is a customised Wordpress theme.</p>
            </div>

      </div>
    {{/content}}
  {{/layout}}
