input[type="text"] {
  /*padding:.5em; */
  /*margin-bottom:.5em; */
  font-size: 25px;
  overflow: hidden;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: solid black 2px;
  color: white;
}

/*#name {
  margin-left: 25px;
  margin-right: -25px;
  overflow: hidden;
}*/

input, select {
  padding: 5px;
}

a {
  color: black;
}

a:hover {
  color: #C54E55;
}

.transparent-input {
  padding: 10px;
  border: solid 1px black;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}

input[type="checkbox"] {
    display:none;
}

.rvsp li {
    list-style:none;
    margin:10px auto;
    position:relative
}
 
.rvsp li:after {
    content:'';
    position:absolute;
    width:35px;
    height:35px;
    border:2px solid black;
    border-radius:6px;
    left:-12px;
    z-index:-1
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background-color: white;
    cursor:pointer;
}
input[type="radio"]:checked + label span {
    background-color: red; 
}

.label-less-padding {
  padding-left:10px;
}

#song2 {
  margin-top: 10px;
}

label {
    cursor:pointer;
    /*color: black;*/
    margin:5px 0;
    padding-left:40px;
    position:relative;
    -webkit-transition:.2s linear;
    -moz-transition:.2s linear;
    -o-transition:.2s linear;
    transition:.2s linear
}

label:before,label:after {
    content:'';
    left:9px;
    width:3px;
    bottom:0;
    background: white;
    position:absolute;
    top:-3px
}

label:before {
    transform:rotate(45deg);
    transform-origin:0 14px;
    height:0;
    -webkit-transition:.2s linear;
    -moz-transition:.2s linear;
    -o-transition:.2s linear;
    transition:.2s linear
}
 
label:after {
    transform:rotate(-45deg);
    transform-origin:0 20px;
    height:0;
    -webkit-transition:.2s linear .2s;
    -moz-transition:.2s linear .2s;
    -o-transition:.2s linear .2s;
    transition:.2s linear .2s
}

input[type="checkbox"]:checked + label:after,input[type="checkbox"]:checked + label:before {
    height:100%
}

input[type="radio"]:checked + label:after,input[type="radio"]:checked + label:before {
    height:100%
}
 
input[type="checkbox"]:checked + label {
    color:#fff
}

input[type="radio"]:checked + label {
    color:#fff
}

.quote-container {
  margin-top: 50px;
  position: relative;
}

.note {
  color: #333;
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  font-size: 30px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  background-color: yellow;
  -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
      transform: rotate(3deg);

}

.note2 {
  -webkit-transform: rotate(358deg); /* Chrome, Safari, Opera */
      transform: rotate(358deg);
}

.note .author {
  display: block;
  margin: 40px 0 0 0;
  text-align: right;
}

.pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -16px;
  z-index: 1;
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
      transform: rotate(7deg);
}  

.pin:after {
  background-color: #A31;
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset 3px 3px 3px hsla(0,0%,100%,.2),
              inset -3px -3px 3px hsla(0,0%,0%,.2),
              23px 20px 3px hsla(0,0%,0%,.15);
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}

.pin:before {
  background-color: hsla(0,0%,0%,0.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';

  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 8px;

  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);

  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}

.centre {
  text-align: center;
}

textarea:focus, input:focus{
    outline: none;
}

.send-button {
  padding: 10px;
    font-size: 25px;
    background-color: #b99066;
    border: solid black 2px;
}

/*form {
  margin-left: 9em;
}*/

/*@media screen and (min-width: 320px) {
  form {
    margin-left: 0em;
  }
}*/

@media all 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  label {
    color:red;
    font-size: 2.5em;
  }
}

@media screen and (min-width: 600px) {
  label {
    color:yellow;
    font-size: 2em;
  }
}